---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="SEVIES"
	description="Mayor información acerca de nuestra asociación sin fines de lucro"
	pubDate={new Date('JUNIO 05 2023')}
	heroImage="https://res.cloudinary.com/dputhhzyb/image/upload/v1705337440/LOGO_SEVIES_dylyyg.jpg"
>
	<p>
		AL AMPARO DE LA CONSTITUCION POLITICA DEL ESTADO PERUANO, EL CODIGO CIVIL VIGENTE Y DEMAS NORMAS PERTINENTES, SE CONSTITUYE LA ASOCIACIÓN DENOMINADA: “ASOCIACIÓN DE SEMBRADORES DE VIDA Y ESPERANZA SIGLA “SEVIES”
	</p>

	<p>
		TENDRA COMO DOMICILIO EL DISTRITO DE PACHÍA. PROVINCIA Y DEPARTAMENTO DE TACNA, Y SUS SEDES SE ESTABLECERAN EN CUALQUIER LUGAR DEL MUNDO. 
	</p>

	<p>
		CONFORMA UNA PERSONA JURIDICA DE DERECHO PRIVADO, SIN FINES DE LUCRO, RELIGIOSA, SOLIDARIA, DEMOCRATICA, AUTONOMA Y DONDE PREVALECE LA LIBERTAD, SE RIGE POR EL PRESENTE ESTATUTO Y DEMAS NORMAS INTERNAS DEBIDAMENTE APROBADAS POR SUS ASOCIADOS, DE ACUERDO AL CODIGO CIVIL PERUANO.
	</p>

</Layout>
