---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>⛪ Bienvenidos a SEVIES!</h1>
			<p>
				LA ASOCIACIÓN TIENE POR FINALIDAD AYUDAR  Y APOYAR A NIÑ(O)AS Y JOVENES QUE SE ENCUENTRAN EN SITUACIÓN DE ABANDONO Y RIESGO MORAL U OTRO TIPO DE PELIGRO, PROMOCIONANDO SU DESARROLLO INTEGRAL CONTRIBUYENDO AL DESARROLLO DE SUS CAPACIDADES Y  HABILIDADES SOCIOEMOCIONALES, ADEMÁS PROMUEVE TODO TIPO DE AYUDA Y ACCIONES QUE PERMITAN MEJORAR LAS CONDICIONES DE VIDA DE LAS NIÑAS Y JÓVENES.
			<p>
				PROMOVER ENTRE SUS MIEMBROS UNA VIDA CRISTIANA MÁS PERFECTA Y LA PRACTICA DE OBRAS DE CARIDAD CON LOS MÁS NECESITADOS. 
			</p>
			<p>GESTIONAR LA AYUDA POR MEDIO DE DONACIONES Y/O CONVENIOS FAVORABLES  PARA LAS OBRAS DE LA ASOCIACIÓN.</p>
			<ul>
				<li>PRESIDENTE: <span class="font-semibold">DOÑA: SANDRA MIRTHA RIBERA BEGAZO</span></li>
				<li>VICE PRESIDENTE: <span class="font-semibold">DOÑA: YOLANDA QUISPE CÁCERES</span></li>
				<li>SECRETARIO DE ACTAS Y ARCHIVOS: <span class="font-semibold">DOÑA: JUANA CONDORI PERCA</span></li>
				<li>SECRETARIO DE ECONOMÍA: <span class="font-semibold">DOÑA HELI YUDHIT SAGUA ZAPANA</span></li>
				<li>VOCAL 1: <span class="font-semibold">DOÑA: LUISA NOEMÍ ROSSI DE NIETO</span></li>
				<li>VOCAL 2: <span class="font-semibold">DOÑA: LADY MARGOT APONTE CARRASCO</span></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
